
pdm2pcm/pdm2pcm.vcxproj.user
pdm2pcm/pdm2pcm.vcxproj.filters
pdm2pcm/Debug/vc141.pdb
pdm2pcm/Debug/vc141.idb
pdm2pcm/Debug/pdm2pcm.tlog/pdm2pcm.lastbuildstate
pdm2pcm/Debug/pdm2pcm.tlog/link.write.1.tlog
pdm2pcm/Debug/pdm2pcm.tlog/link.read.1.tlog
pdm2pcm/Debug/pdm2pcm.tlog/link.command.1.tlog
pdm2pcm/Debug/pdm2pcm.tlog/CL.write.1.tlog
pdm2pcm/Debug/pdm2pcm.tlog/CL.command.1.tlog
pdm2pcm/Debug/pdm2pcm.tlog/CL.read.1.tlog
pdm2pcm/Debug/pdm2pcm.log
pdm2pcm/Debug/main.obj
Debug/pdm2pcm.pdb
Debug/pdm2pcm.ilk
Debug/pdm2pcm.exe
.vs/pdm2pcm/v15/ipch/AutoPCH/43f489edf6805d06/MAIN.ipch
.vs/pdm2pcm/v15/Browse.VC.db
.vs/pdm2pcm/v15/.suo
